/* Config Geral */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  background: white;
}

/* Layout */

#area-cabecalho {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  padding: 10px;
}

#area-principal {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

#rodape {
  background: #cccccc;
  text-align: center;
  margin: 0;
  padding: 1em;
  clear: both;
}

/* General format */

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #f7b600;
}

a:hover {
  border-bottom: 1px solid #f7b600;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
  color: white;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: #f7b600;
  background: white;
  text-decoration: none;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: #f7b600;
}

h3 {
  background: lightgrey;
  padding: 6px;
  color: #4e4e4e;
  font-weight: bold;
}

.branco {
  color: white;
}

.texto-lateral {
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
